// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Poppins', sans-serif;
$font-size: 0.9rem;
$line-height: 1.1;

// Color
$gradient-main: linear-gradient(180deg, rgba(0, 114, 160, 1) 0%, rgba(0, 171, 240, 1) 50%, rgba(25, 189, 255, 1) 100%);
$color-main: #00afdd;
$color-dark: #029ec7;
$color-light: #21bbf9;
$color-text: #212529;
$color-grey: #a9a9a9;
$color-danger: #dc3545;
$color-success: #28a745;
$color-primary: #007bff;
$color-border: #c0c0c0;